doctype html
html
  head
    //CONTENT METAS
    meta(http-equiv = "Content-Type" content = "text/html" charset = "utf-8")
    meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
    
    link(href = "css/style.css" type = "text/css" rel = "stylesheet")
      
    title Текстиль в интерьере
    
  body
    header
      .blur-bg
      .fullWidth
        .small-4.columns
          hr.line
        .small-4.columns
          h1.title.bold.up Hello
        .small-4.columns
          hr.line
        .small-12.columns
          h2.narrow I am Tim Surkov
        .small-12.columns
          h3.intro.narrow A web designer with passion to create
